html {
    background-color: #3c3c3cff;
}

body {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}